{% extends "layout.html" %}
{% block page %}
<title>VetCompare: Compare Vet Prices</title>

<link href='http://fonts.googleapis.com/css?family=Flamenco' rel='stylesheet' type='text/css'>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-responsive.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery-ui-1.10.4.custom.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='landing.css') }}">

<div class="explain">
	<p>Costs for veterinary procedures vary greatly.</p>
	<p>Compare prices here.</p>
	<p id="quote-line">Have a more extensive procedure?  Try our bidding product <a href="{{ url_for('quote_request') }}">here.</a></p>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-ui-1.10.4.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='landing.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='custom.js') }}"></script>

{% endblock %}