{% extends "base.html" %}
{% block content %}
<div class="container">
    <h3> Enter your first name, last name, and email address here, and we will send you an email containing a link which you can click to reset your password. </h3>
    <form class="form-signin" role="form" action="{{ url_for('forgot-password') }}" method="post">
        <h3 class="form-signin-heading">{{ status }}</h3>
        <input name="fname" type="text" class="form-control" placeholder="First Name" required>
        <input name="lname" type="text" class="form-control" placeholder="Last Name" required>
        <input name="email" type="text" class="form-control" placeholder="Email Address" required>

        <button class="btn btn-lg btn-primary btn-block" value="Submit" type="submit">Register</button>
     </form>
    </div> <!-- /container -->
{% endblock content %}