#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Rich_text_1 {
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58);
filter: alpha(opacity=58);
-ms-transform: rotate(0.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Image_2 {
-ms-transform: rotate(0.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Label_1 {
-ms-transform: rotate(0.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Label_2 {
-ms-transform: rotate(0.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Image_3 {
-ms-transform: rotate(0.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Image_4 {
-ms-transform: rotate(0.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Label_3 {
-ms-transform: rotate(0.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Label_4 {
-ms-transform: rotate(0.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Label_5 {
-ms-transform: rotate(0.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Label_6 {
-ms-transform: rotate(0.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Label_7 {
-ms-transform: rotate(270.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Label_8 {
-ms-transform: rotate(0.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Label_9 {
-ms-transform: rotate(0.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Image_5 {
-ms-transform: rotate(0.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Label_10 {
-ms-transform: rotate(0.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Label_11 {
-ms-transform: rotate(0.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Label_12 {
-ms-transform: rotate(0.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Label_13 {
-ms-transform: rotate(0.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Label_14 {
-ms-transform: rotate(270.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Label_15 {
-ms-transform: rotate(0.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Label_16 {
-ms-transform: rotate(0.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Line_1 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
-ms-transform: rotate(0.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 #s-Line_1 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
-ms-transform: rotate(0.0deg);
}
#s-67034e1e-598f-47cc-993b-694b231d4a83 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}