#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Label_1 {
-ms-transform: rotate(0.0deg);
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 #s-Image_2 {
-ms-transform: rotate(0.0deg);
}
#s-70bb128e-46f2-4626-8d71-4815e1caf146 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}