#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Panel_4 > .valign {
vertical-align: top;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_2 {
-ms-transform: rotate(180.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_62 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D8D8D6;
-ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_4 {
-ms-transform: rotate(180.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_66 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D8D8D6;
-ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_63 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D8D8D6;
-ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_64 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D8D8D6;
-ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_65 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D8D8D6;
-ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_67 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D8D8D6;
-ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_68 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D8D8D6;
-ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_69 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D8D8D6;
-ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_74 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D8D8D6;
-ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_75 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D8D8D6;
-ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_76 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D8D8D6;
-ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_77 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D8D8D6;
-ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Image_73 {
-ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Rectangle_1 {
-ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Rich_text_18 {
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #D8D8D6;
-ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Image_71 {
-ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_78 {
-ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Image_72 {
-ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Line_8 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D8D8D6;
-ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Line_8 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D8D8D6;
-ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Image_44 {
-ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_3 {
-ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}