body {
    background: url("bg.jpg") no-repeat center center fixed; 
    background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
}

.well {
    top: 20px;
}

@import 'bootstrap.less';
#header_text {
    border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
    margin: 10px;
    padding: 30px;
    background-color: #B8B8E6
}

.animal {
    /*display: block;*/
}

.animal button img {
    height: auto;
    width: 40px;
}

#sign_up {
    border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
    margin: 10px;
    padding: 30px;
    background-color: #B8B8E6
}

#weight {
    display: none;
}

.form-control[disabled] {
    background-color: #ccc;
}

#zip-error {
    color: red;
}

.fb-share-button {
    vertical-align: top;
}

.flash {
    background: #cee5f5;
    color: #3e7cbb;
    border: 1px solid #aacbe2;
    padding: 5px; 
    width: 90%;
}

ul {
    list-style-type: none;
    list-style: none;
    padding-left: 0;
}

.area-button-group {
    padding-left:20px;
    padding-top: 20px; 
}

#gauge-text span {
    font-weight: bold;
}