body {
    background: url("static/bg.jpg") no-repeat center center fixed; 
    background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
}

#header {
    background-color: #B8B8E6; 
    opacity: .4;
}


@import 'bootstrap.less';
#header_text {
    border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
    margin: 10px;
    padding: 30px;
    background-color: #B8B8E6
}

#sign_up {
    border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
    margin: 10px;
    padding: 30px;
    background-color: #B8B8E6
}