{% extends "root.html" %}
{% block page %}

<div class="container">
	<div class="row">
		<div  class="col-sm-6 well">
      <div id="header_text">
				<h1>Are you paying too much at your vet?</h1>
				<h2 class="subtitle">Tell us what procedure you last paid for at your vet, and we'll tell you whether you overpaid.</h2>                
      </div>
  		<form role="form" method="post" action="{{ url_for('index') }}">                                            
        <div class="radio-inline">
        <label>
            <input type="radio" name="cat_dog" id="dog_selector" value="dog" checked>
                Dog
        </label>
        </div>
                  
        <div class="radio-inline">
            <label>
                <input type="radio" name="cat_dog" id="cat_selector" value="cat">
                Cat
            </label>
        </div>


        <div class="form-group" id="weight">
            Weight (lb):
            <br>
            <div class="radio-inline">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="0" checked>
                    less than 25
                </label>
            </div>
            <div class="radio-inline">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="1">
                    26 - 50
                </label>
            </div>
            <div class="radio-inline">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="2">
                    51 - 75
                </label>
            </div>
            <div class="radio-inline">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="3">
                    75 and up
                </label>
            </div>
        </div>

        <select class="form-control" name="procedure">
          <option>-- Select Procedure -- </option>

          {% for topic in topicProcedureDict %}
          <optgroup label={{ topic }}>

            {% for procedure in topicProcedureDict.get(topic) %}
            <option value="{{ procedure }}">{{ procedure }}</option>
            {% endfor %}
            
          </optgroup>                          
          {% endfor %}

        </select>

        <br>
        <input name="cost" type="text" class="form-control" placeholder="Cost">
        <br>
        <input id="zipcode" name="zip code" type="text" class="form-control" placeholder="Zip Code">
        <br>
        <select id="vetname_drpdwn" name="vet_id" class="form-control" placeholder="Name of veterinary clinic or animal hospital">
        </select>
        <br>
        <br>
              
        <button type="submit" class="btn btn-primary">Submit</button>
  		</form>					
		</div>

    <div class class="col-sm-4 col-sm-offset-2">
    <!--filler div-->
    </div>        				
  </div>
</div>
  
<div id="footer">
<div class="container">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
				<p class="copyright">Copyright © 2014 - <a href="http://vetcompare.co" target="_blank">VetCompare.co</a></p>
		</div>
	</div>		
</div>	
</div>



{% endblock %}