{% extends "root.html" %}
{% block page %}

<div class="container">
	<div class="row">
		<div  class="col-sm-8 col-md-6 col-lg-6 well">
            <div id="header_text">
            		<h1>Is your vet ripping you off?</h1>
            		<h2 class="subtitle">Tell us what procedure you last paid for at your vet, and we'll tell you whether you overpaid.</h2>                
            </div>

      		<form role="form" method="post" action="{{ url_for('interstitial') }}">                                        
                
                <!-- Buttons -->
                <!-- <div class="row animal">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="btn btn-default"><img src="{{ url_for('static', filename='Animal Buttons/dog.png') }}"></button>
                        <label class="text-center">Dog</label>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="btn btn-default"><img src="{{ url_for('static', filename='Animal Buttons/cat.png') }}"></button>
                        <label class="text-center">Cat</label>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="btn btn-default"><img src="{{ url_for('static', filename='Animal Buttons/bird.png') }}"></button>
                        <label class="text-center">Bird</label>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="btn btn-default"><img src="{{ url_for('static', filename='Animal Buttons/reptile.png') }}"></button>
                        <label class="text-center">Reptile</label>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="btn btn-default"><img src="{{ url_for('static', filename='Animal Buttons/rabbit.png') }}"></button>
                        <label class="text-center">Rabbit</label>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="btn btn-default"><img src="{{ url_for('static', filename='Animal Buttons/ferret.png') }}"></button>
                        <label class="text-center">Ferret</label>
                    </div>                
                </div> 
                <br> -->

                <!-- Select -->
                <!-- <select class="form-control" name="animal">
                    <option>-- Select Animal -- </option>
                    <option>Dog</option>
                    <option>Cat</option>
                    <option>Bird</option>
                    <option>Reptile</option>
                    <option>Rabbit</option>
                    <option>Ferret</option>
                    <option>Small Mammal</option>
                </select>
                <br> -->

                <div class="radio-inline">
                    <label>
                        <input type="radio" name="animal" value="dog" checked required>
                        Dog
                    </label>
                </div>                          
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="animal" value="cat" required>
                        Cat
                    </label>
                </div>

                <select class="form-control" name="procedure">
                  <option value="">-- Select Procedure -- </option>

                  {% for topic in topicProcedureDict %}
                  <optgroup label="{{ topic }}">

                    {% for procedure in topicProcedureDict.get(topic) %}
                    <option value="{{ procedure }}">{{ procedure }}</option>
                    {% endfor %}
                    
                  </optgroup>                          
                  {% endfor %}

                </select>

                <br>

                <div class="form-group" id="weight">
                    Weight (lb):
                    <br>
                    <div class="radio-inline">
                        <label>
                          <input type="radio" name="weight" value="0">
                            less than 25
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                          <input type="radio" name="weight" value="1">
                            26 - 50
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                          <input type="radio" name="weight" value="2">
                            51 - 75
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                          <input type="radio" name="weight" value="3">
                            75 and up
                        </label>
                    </div>
                </div>
                
                <input name="cost" type="text" class="form-control" placeholder="Cost" required autocomplete="off">

                <br>

                {% if prefilledData %}
                <div class="form-group">
                    <label for="zip code">Zip: </label>
                    <input name="zip code" type="text" class="form-control" value="{{ prefilledData.zip }}" readonly>
                </div>

                <div id="clinicSelect_group">
                    <label for="vet_id">Clinic: </label>
                    <input name="vet_name" type="text" class="form-control" value="{{ prefilledData.clinic_name }}" readonly>
                </div>
                <input type="hidden" name="vet_id" value="{{ prefilledData.clinic_id }}">
                <a href="{{ url_for('index') }}">Check a different vet</a>

                {% else %}
                <div id="zip_group" class="form-group">
                    <input id="zipcode" name="zip code" type="text" class="form-control" placeholder="Zip Code (for your vet)" required autocomplete="off">
                    <br>
                </div>

                <div id="clinicSelect_group">
                    <select id="vetname_drpdwn" name="vet_id" class="form-control" disabled>
                        <option value="" disabled selected>-- Select Clinic / Animal Hospital --</option>
                    </select>
                </div>
                <a id="show_other" hidden>Your vet not on the list?</a>
                <input type="hidden" id="hidden_vet_field" name="vet_name">

                {% endif %}


                <br>
                <br>
                      
                <button id="submit" type="submit" class="btn btn-primary">See Results!</button>
      		</form>					
		</div>

    <div class class="col-sm-4 col-sm-offset-2">
    <!--filler div-->
    </div>        				
  </div>
</div>
  
<div id="footer">
<div class="container">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
				<p class="copyright">Copyright © 2014 - <a href="http://vetcompare.co" target="_blank">VetCompare.co</a></p>
		</div>
	</div>		
</div>	
</div>

{% if prefilledData %}
<script src="{{url_for('static', filename='index.js' )}}"></script>
<script>
    checkRadioButton("{{ prefilledData.animal }}");
</script>
{% endif %}



{% endblock %}