{% extends "root.html" %}
{% block page %}

<div class="container">
	<div class="row">
		<div  class="col-sm-6 well">
			<form role="form" method="post" action="{{ url_for('result') }}">
			    <label>The price I just entered is:</label>
				<div class="radio">
	                <label>
	                    <input type="radio" name="integrity" value="0" required>
                        From an actual bill
	                </label>
                </div>                      
                <div class="radio">
                    <label>
                        <input type="radio" name="integrity" value="1" required>
                        From a quote
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="integrity" value="2" required>
                        A rough estimate
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="integrity" value="3" required>
                        A wild guess
                    </label>
                </div>

                <br>

                <button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>

{% endblock %}