<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='layout.css') }}">
<div class="background-slideshow">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>
{% block page %}{% endblock %}
<footer>
	<span class="bottom-link" id="about">About</span> 
	| 
	<span class="bottom-link" id="team">Team</span>  
	| 
	<span class="bottom-link" id="contact">Contact</span> 
</footer>
<div class="overlay" id="about-overlay">
	<h1>About</h1>
	<span class="x-button">&#10006;</span>
	<p>
		VetCompare is a price comparison engine for cat and dog veterinary services. Prices can vary widely across different veterinary practices for the same procedures, and those prices can be difficult to find. Use VetCompare to search for procedure prices in your area, read reviews and find the best vet for your pet.  
	</p>
</div>
<div class="overlay" id="team-overlay">
	<h1>Team</h1>
	<span class="x-button">&#10006;</span>
	<div class="bio">
		<img src="{{ url_for('static', filename='imgs/bio-fareeha.png') }}">
		<div class="name">Fareeha Ali</div>
		<p>
			Fareeha is a journalism graduate student at Northwestern University. She wastes her time watching sports, peforming comedy, and critiquing television shows.
		</p>
	</div>
	<div class="bio">
		<img src="{{ url_for('static', filename='imgs/bio-ed.png') }}">
		<div class="name">Ed Bren</div>
		<p>
			Try asking Ed about his finances. He'll blow you away. Talk about someone who's on top of their game. asdflasdjflaksdfjalskdfjalskdfjalsdkfj and there's more!
		</p>
	</div>
	<div class="bio">
		<img src="{{ url_for('static', filename='imgs/bio-michael.jpg') }}">
		<div class="name">Michael Hueschen</div>
		<p>
			Michael is a senior computer science student at Northwestern. His interests include functional programming, body weight workouts, and living primally.
		</p>
	</div>
	<div class="bio">
		<img src="{{ url_for('static', filename='imgs/bio-scott.jpg') }}">
		<div class="name">Scott Neaves</div>
		<p>
			Scott is a Northwestern University student in computer science, class of 2014. Interests include web development, live music, and drawing.
		</p>
	</div>
	<div class="bio">
		<img src="{{ url_for('static', filename='imgs/bio-ryan.png') }}">
		<div class="name">Ryan Rennaker</div>
		<p>
			Ryan is a second year Kellogg MBA candidate focusing in Finance and Marketing.  Prior to Kellogg, Ryan worked at Google in San Francisco. His interests include rugby.
		</p>
	</div>
	<div class="bio">
		<img src="{{ url_for('static', filename='imgs/bio-sam.jpg') }}">
		<div class="name">Sam Toizer</div>
		<p>
			Sam is an undergrad computer science student at Northwestern University, class of 2014, with a strong passion for UI/UX design. In his free time he enjoys playing/writing music and reading.
		</p>
	</div>
</div>
<div class="overlay" id="contact-overlay">
	<h1>Contact</h1>
	<span class="x-button">&#10006;</span>
	<p>
		Have a question, suggestion, or comment?  Please contact us at the email below:
	</p>
	<p>
		<a href="mailto:samtoizer@gmail.com" target="_blank">samtoizer@gmail.com</a>
	</p>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-ui-1.10.4.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='layout.js') }}"></script>

</html>