<% content_for :head do %>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/favicon.png">

    <title>Vital Patch</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/main.css" rel="stylesheet">

    <!-- Fonts from Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	
<% end %>


<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><b>Vital Patch</b></a>
    </div>
    <div class="navbar-collapse collapse">	  
      <ul class="nav navbar-nav navbar-right">
        <li>
        <form class="form-inline" role="form" method="post" action=<%= create_path %>>
			  <div class="form-group"> 
			    <input type="email" name="email" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Enter your email address">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
			  </div>
			  <button type="submit" class="btn btn-warning btn-sm">Invite Me!</button>
			</form>					
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<h2 class="unsubscribe-message"><%= @message %></h2>