#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_2 {
-ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
margin-left: 0px;
margin-top: -2px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_62 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_4 {
-ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
margin-left: 0px;
margin-top: -2px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_66 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_63 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_64 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_65 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_67 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_68 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_69 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_74 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_75 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_76 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_77 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Image_73 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Rectangle_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Rich_text_18 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Image_71 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_78 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Image_72 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Line_8 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Image_44 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}