#s-8b620454-b996-4c10-aab3-81553933e8a7 #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#s-8b620454-b996-4c10-aab3-81553933e8a7 #s-Rich_text_20 {
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58);
filter: alpha(opacity=58);
-ms-transform: rotate(0.0deg);
}
#s-8b620454-b996-4c10-aab3-81553933e8a7 #s-Image_79 {
-ms-transform: rotate(0.0deg);
}
#s-8b620454-b996-4c10-aab3-81553933e8a7 #s-Label_85 {
-ms-transform: rotate(0.0deg);
}
#s-8b620454-b996-4c10-aab3-81553933e8a7 #s-Label_87 {
-ms-transform: rotate(0.0deg);
}
#s-8b620454-b996-4c10-aab3-81553933e8a7 #s-Image_3 {
-ms-transform: rotate(0.0deg);
}
#s-8b620454-b996-4c10-aab3-81553933e8a7 #s-Image_2 {
-ms-transform: rotate(0.0deg);
}
#s-8b620454-b996-4c10-aab3-81553933e8a7 #s-Label_86 {
-ms-transform: rotate(0.0deg);
}
#s-8b620454-b996-4c10-aab3-81553933e8a7 #s-Label_88 {
-ms-transform: rotate(0.0deg);
}
#s-8b620454-b996-4c10-aab3-81553933e8a7 #s-Label_91 {
-ms-transform: rotate(0.0deg);
}
#s-8b620454-b996-4c10-aab3-81553933e8a7 #s-Label_92 {
-ms-transform: rotate(0.0deg);
}
#s-8b620454-b996-4c10-aab3-81553933e8a7 #s-Label_93 {
-ms-transform: rotate(270.0deg);
}
#s-8b620454-b996-4c10-aab3-81553933e8a7 #s-Label_94 {
-ms-transform: rotate(0.0deg);
}
#s-8b620454-b996-4c10-aab3-81553933e8a7 #s-Label_95 {
-ms-transform: rotate(0.0deg);
}
#s-8b620454-b996-4c10-aab3-81553933e8a7 #s-Image_4 {
-ms-transform: rotate(0.0deg);
}
#s-8b620454-b996-4c10-aab3-81553933e8a7 #s-Label_89 {
-ms-transform: rotate(0.0deg);
}
#s-8b620454-b996-4c10-aab3-81553933e8a7 #s-Label_90 {
-ms-transform: rotate(0.0deg);
}
#s-8b620454-b996-4c10-aab3-81553933e8a7 #s-Label_96 {
-ms-transform: rotate(0.0deg);
}
#s-8b620454-b996-4c10-aab3-81553933e8a7 #s-Label_97 {
-ms-transform: rotate(0.0deg);
}
#s-8b620454-b996-4c10-aab3-81553933e8a7 #s-Label_98 {
-ms-transform: rotate(270.0deg);
}
#s-8b620454-b996-4c10-aab3-81553933e8a7 #s-Label_99 {
-ms-transform: rotate(0.0deg);
}
#s-8b620454-b996-4c10-aab3-81553933e8a7 #s-Label_100 {
-ms-transform: rotate(0.0deg);
}
#s-8b620454-b996-4c10-aab3-81553933e8a7 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}