#s-95adc887-3e85-4566-95d6-d7b6077c8c85 {
background-color: transparent;
background-image: none;
min-width: 320px;
min-height: 573px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 > #alignmentBox {
position: relative;
width: 100%;
height: 100%;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Image_1 {
position: absolute;
top: 0px;
left: 0px;
width: 320px;
height: 573px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Dynamic_Panel_48 {
position: absolute;
top: 204px;
left: 13px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Panel_50 {
width: 293px;
height: 87px;
background-color: transparent;
background-image: none;
box-shadow: none;
overflow-x: hidden;
overflow-y: hidden;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Panel_50 .verticalalign {
vertical-align: top;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Group_1 {
width: 291px;
height: 43px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_32 {
position: absolute;
top: 0px;
left: 0px;
padding-left: 18px;
width: 268px;
height: 39px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #FFFFFF;
border-radius: 6px 6px 0px 0px;
padding-top: 3px;
padding-right: 3px;
padding-bottom: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular;
font-size: 13pt;
line-height: 13pt;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_32 .valign {
vertical-align: middle;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Input_2 {
position: absolute;
top: 10px;
left: 118px;
width: 160px;
height: 23px;
background-color: #FFFFFF;
background-image: none;
box-shadow: none;
text-shadow: none;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Input_2 .valign {
vertical-align: middle;
line-height: 11pt;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Input_2 input {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular;
font-size: 11pt;
text-shadow: none;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Line_17 {
position: relative;
width: 291px;
height: 1px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #C0C0C0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Group_2 {
width: 291px;
height: 42px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_33 {
position: absolute;
top: 0px;
left: 0px;
padding-left: 18px;
width: 268px;
height: 38px;
background-color: #FFFFFF;
background-image: none;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #FFFFFF;
border-radius: 0px 0px 6px 6px;
padding-top: 0px;
padding-right: 3px;
padding-bottom: 3px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular;
font-size: 13pt;
line-height: 13pt;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_33 .valign {
vertical-align: middle;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Input_3 {
position: absolute;
top: 9px;
left: 118px;
width: 160px;
height: 23px;
background-color: #FFFFFF;
background-image: none;
box-shadow: none;
text-shadow: none;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Input_3 .valign {
vertical-align: middle;
line-height: 11pt;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Input_3 input {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular;
font-size: 11pt;
text-shadow: none;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_1 {
position: absolute;
top: 508px;
left: 11px;
width: 291px;
height: 36px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #FFFFFF;
border-radius: 4px 4px 4px 4px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
color: #157EFB;
text-align: center;
text-decoration: none;
font-family: Roboto-Medium;
font-size: 14pt;
line-height: 14pt;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_1 .valign {
vertical-align: middle;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_2 {
position: absolute;
top: 64px;
left: 0px;
width: 320px;
height: 127px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Skia;
font-size: 36pt;
font-style: normal;
font-weight: 400;
line-height: 36pt;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_2 .valign {
vertical-align: middle;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Image_2 {
position: absolute;
top: 310px;
left: 85px;
width: 150px;
height: 150px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}