.explain {
    /*background-color: rgba(0, 0, 0, 0.1);*/
	color: white;
	font-family: 'Flamenco', cursive;
    font-size: 50px;
    line-height: 70px;
    padding-top: 150px;
	position: relative;
	text-align: center;	
}

.explain a {
    color: #46AADB;
}

.explain a:hover {
    /*color: #0088cc;*/
    color: #46AADB;
}

@media (max-width: 768px) {
    .explain {
        padding-top: 0px;
    }
}

#quote-line {
    font-size: 30px;
}   