html {
	position: relative;
}

body {
    background: url("imgs/bg2-darkest.jpg") no-repeat center center fixed; 
    background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
}

/* Sidebar */

.sidebar {	
	padding-top: 10px;
	width: 228px;
}

.sidebar form {
	margin-top: 20px
}

@media (max-width: 768px) {
	.sidebar {
		position: relative;
		top: 0;
		width: auto;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.sidebar {
		width: 166px;
  	}
}

.sidebar label {
	font-size: 20px;
}

.sidebar input, .sidebar select {
	height: 30px;
	width: 100%;
}

.sidebar #weight-control-group {
	display: none;
}

/* Content */

.content {
	padding-top: 20px;
}

@media (max-width: 768px) {
	.content {
		position: relative;
		width: auto;
	}
}

/* Footer */

footer {
	background-color: rgba(0, 0, 0, 0);
	bottom: 0;
	color: white;
	display: block;
	font-size: 20px;
	height: 30px;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

footer a {
	color: white;
	cursor: pointer;
}

footer a:hover {
	color: darkgray;
	text-decoration: none;
}

.x-button {
	color: gray;
	font-size: 30px;
	padding: 10px;
	position: absolute;
	right: 0;
	top: 0;
	transition: transform 0.4s;
	transition: -ms-transform 0.4s;
	transition: -webkit-transform 0.4s;
}

.x-button:hover {
	cursor: pointer;
	transform:rotate(90deg);
		-ms-transform:rotate(90deg); /* IE 9 */
		-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */	
}

.bio img {	
	border-radius: 150px;
		-moz-border-radius: 150px;
		-webkit-border-radius: 150px;
	display: block;
	height: 112px;
	margin-left: auto;
	margin-right: auto;
	width: 112px;
}

.bio .name {
	font-size: 20px;
	position: relative;
	text-align: center;
}

.bio p {
	font-size: 15px;
}

/* Feedback */

a#barometer_tab {
	top: 75%;
}

.flash {
	background: #cee5f5;
	color: #3e7cbb;
	border: 1px solid #aacbe2;
	padding: 5px; 
	width: 90%;
}